@model IEnumerable<Vidly.Models.Movie>

@{ 
    ViewBag.Title = "Movies";
}
<h2></h2>
<legend>Movies</legend>
<p>
    @Html.ActionLink("Adicionar", "New", "Movie", null, new { @class = "btn btn-primary" })
</p>
<table id="movies" class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.Id).ToString().ToUpper()</th>
            <th>@Html.DisplayNameFor(Model => Model.Nome)</th>
            <th>@Html.DisplayNameFor(Model => Model.Genre.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
 {
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id",
                        render: function (data, type, movie) {
                            return "<a href='/movie/edit/" + movie.id + "'>#" + movie.id + "</a>";
                        }
                    },
                    {
                        data: "nome"
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + "><span class='glyphicon glyphicon-trash'></span></button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}